@import "./base/variables";
@import "./base/listas";
@import "./base/maps";
@import "./base/extend";
@import "./base/mixin";
@import "./componentes/footer";



header{
    background-image: url(../img/imgredimencionadas/848e2b30f1ae78e243386707e09e807a.png);
    h2{
        font-family: 'Permanent Marker', cursive;
        font-style: oblique;
    }
       
    nav{
        ul{
            border-style: solid;
            border-radius: 23px;
            margin: 23px;
            padding: 10px;
            list-style: none;
            font-weight: bolder;
            font-family: 'Acme', sans-serif;
            font-size: larger;
            font-style: oblique;
            background-color: black;
            text-align: right;
            background-color: #ff0000;
            background-image: linear-gradient(75deg, #ff0000 0%, #000000 67%);
            li{
                display: inline-block;
                padding: 0.3rem 0.6rem;
                margin: 0 0.8rem;
                &:hover{
                    text-decoration: underline;
                    transform: scale(1.5);
                    transition: 0.5s;
                }
                a{
                    color: red;  
                }
                
                }
            }
        }
    }
.inicio{
    h1{
        color: rgb(0, 0, 0);
        font-style: oblique;
        font-family: Arial, Helvetica, sans-serif;
        width: 96%;
        max-width: 960px;
        margin: 0 auto; 
    }
}
.seccioninicio{
    color: rgb(0, 0, 0);
    font-family: 'Permanent Marker', cursive;      
    font-size: 35px;    
    margin: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 23px;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: double;
    background-color: #ff0000;
    background-image: linear-gradient(125deg, #ff0000 0%, #000000 100%);
    border-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    width: 70%;
}
.integranteshtml{
    h1{
        color: map-get($header, color_1);
	    margin: 25px;
	    padding: 30px;
	    text-align: center;
	    border-style: solid;
	    border-radius: 23px;
	    border-top: 10px;
	    border-bottom: 10px;
	    border-left: 10px;
	    border-right: 10px;
	    font-size: 50px;
	    background-repeat: no-repeat;
	    background-position: top left;
	    padding: 20px;
	    background-color: map-get($header, bg_color_1);
	    background-image: linear-gradient(125deg, #ff0000 0%, #000000 100%);
	    font-family: map-get($header,'Permanent Marker', cursive);
	    font-style: oblique;
	    border-style: solid;
	    background-image: url(../img/imgredimencionadas/eme5.jpg);
    }
}

.conteiner{
    @extend %ubicacion
}
h1{
    font-size:25%;
    font-style: oblique;
    text-align:center;
    font-weight: bolder;
    text-decoration:underline;
}

@media screen and (max-width:768px) {
    .imageneshtml{
        background-image: none;
    }
    .videoshtml{
        background-image: none;
    }
    .conciertos{
        background-image: none;
    }
}

.integrantes-main{
    @include titulos2;
}
.contenedor-inicio{
    @include titulos;
}